

/* header line 240 */
/* header line 240 */

*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    background: url(img/mountain3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    /* background-color: rgb(236, 237, 243); */
}

.container{
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.logo{
    width: 20rem;
    margin-right: 3rem;
}

.logo img{
    width: 100%;
}

.nav-list{
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li{
    line-height: 8rem;
    position: relative;
}

.sub-menu li{
    line-height: 4rem;  
}

.nav-list a{
    display: block;
    color:rgb(0, 0, 0);
    padding: 0 1.6rem;
    font-size: 1.4rem;
    transition: color 500ms;
    font-weight: 600;
    margin-right: 0.5rem;

    background-color: rgb(99, 189, 122);
    border: 2px solid  rgb(99, 189, 122);
    line-height: 3rem;
    border-radius: 10rem;
}

.nav-list a:hover{
    color:rgb(252, 252, 252);
    background-color: black;
}

.btn{
    padding: 0rem 0rem;
    display: inline-block;
    background-color: rgb(99, 189, 122);
    border: 2px solid  rgb(99, 189, 122);
    border-radius: 10rem;
    transition: background-color 500ms;  
}

.btn:hover{
    color: orange;
    background-color: black;
}

.sub-menu{
    width: 20rem;
    display: block;
    position: absolute; 
    z-index: 100;
    top: 7rem;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.sub-menu::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color:rgb(0, 255, 106);
}

.sub-menu .sub-menu::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: rgb(0, 255, 106);
}

.sub-menu .sub-menu{
    border-top: none;
    top: 0;
    left: 120%;  
}

.nav-list li:hover > .sub-menu{
    top: 3.5rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu{
    top: 0;
    left: 100%;
}

li.move-right{
    margin: auto 0 auto auto;
    line-height: initial;
}

.menu-icons{
    color: rgb(0, 0, 0);
    background-color: rgb(99, 189, 122);
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 1rem;
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1000;
    display: none;
}

@media all and (max-width: 750px){

    .logo{
        width: 13rem;
        margin-right: 5rem;
    }

    .nav-list{
        position: fixed;
        top: 8rem;
        left: 0;
        flex-direction: column;
        align-items: initial;
        background-color: #242424;
        z-index: 1000; 
        overflow-y: scroll;
        display: none;
    }

    .nav-list li{
        line-height: 6rem;
        width: 100%;
        margin: 2px 0px;
    }

    .sub-menu{
        position: initial;
        margin-left: 4rem;
        max-height: 0;
    }

    .sub-menu::before{
        display: none;
    }

    .nav-list li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right{
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .menu-icons{
        display: block;
    }

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-menu{
        display: none;
    }

    nav.active .ion-md-close{
     display: block;
    }

    nav.active .nav-list{
        display: flex;
    }
}
/* end of header */
/* end of header */

section, footer{
    width:97%;
    max-width: 1150px;
    margin: 10rem auto 0 auto;
}
/* start of frame 312  */
/* start of frame 312 */

.frame{
    width: 100%;
    margin-bottom: 1.5rem;
}

.inner-frame{
    text-align: center; 
}

.frame h1{
    font-size: 5rem;
    margin: 0px;
    box-shadow: none;
}

.frame p{
    font-size: 2rem;
    margin: 0.5rem 0px;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.frame span{
    font-size: 3rem;
    color: rgb(3, 114, 36);
    padding: 0px 0.5rem;
    font-weight: 800;
}

.search-nav{
    width: 90%;
    max-width: 450px;
    margin: 3rem auto;
    display: flex;
    justify-content:left;
    align-items:flex-start;
}

.list-menu{
    position: absolute;
    text-align: left;
}

.list-menu li{
    width: 17rem;
    padding: 0.1rem; 
    border-radius: 3px;
}
.items{
    width: 20rem;
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    padding: 0.4rem 2.5rem 0.5rem 0.4rem;
    background-color: #93d693;
}

.search-menu{
    flex: 3;
}

#search-field, #search-btn{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #69b369;
    background: #ffffff;
    transition: background-color 0.5s;
    transition-timing-function: ease-in-out;
}

#search-btn{
   flex: 1;
   cursor: pointer;
}

#search-field:hover, #search-btn:hover,
.direct input:hover,.direct textarea:hover{
    background-color: rgb(245, 250, 248);
    border:2px solid rgb(44, 66, 46);
 } 

 #search-btn:hover{
     color: #ffffff;
     background-color: black;
 }
  
.items:hover{
    color: white;
    background-color: #242424;
}
 
.welcome{
    animation: mymove 2s infinite;
}
/* end of frame  */
/* end of frame  */
/* start of trending 398 */
/* start of trending 398 */
section h1{
    font-size: 2rem;
    padding: 0.5rem 0 0.5rem 2rem;
    box-shadow: 0.1px 0.1px 0.5rem 1px rgb(119, 116, 116);
}
.trending{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.trend, .journey{ 
    padding: 0.5rem;
    text-align: center;  
    box-shadow: 0.1px 0.1px 1rem 2px rgb(70, 64, 64);
    border-radius: 0.5rem;  
}

.trend{
    width: 70%;
}

.discription, .journey, .trek p{
    background-color: rgb(224, 214, 218);
    padding: 0.5rem;
    font-size: 1.7rem;
}

.hidden{
    display: none;
}

.trend img{
    width: 100%;
}

.read-btn{
    margin-top: 0.5rem;
    color: white;
    background-color: black;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 500ms;
}

.read-btn:hover{
    background-color: purple;
}

.btn-trend{
    display: flex;
    justify-content: space-between;  
    width: 70%;
    margin: 1rem auto 5rem auto;
}

.btn-trend button{
    font-size: 2rem;
    width: 25%;
    padding: 0.5rem 0px;
    border-radius:5%;  
}

.btn-trend p{
    font-size: 50%;
    font-weight: 900;
}

#btn-1{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor:not-allowed;
}

#btn-2, #btn-3{
    background-color: black;
    color: rgb(255, 255, 255);
    cursor:pointer;
    transition: background-color 500ms;
}
#btn-2:hover, #btn-3:hover{
    background-color: purple;
}
/* end of trending */
/* end of trending */
/* starting of our journey */
/* starting of our journey */
.our-journey{
    width: 70%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.journey, .journey-img{
    flex: 1;   
}
.p-tag{
    color: blue;
    font-weight: 600;
}
.p-tag:hover{
    text-decoration: underline;
}
.journey-img img{
    width: 100%;
    border-radius: 10px;
    color: white;
    box-shadow: 0.1px 0.1px 1rem 2px rgb(70, 64, 64);
}

.trending h3, .our-journey h3{
    margin: 0.5rem 0;
    font-size: 2.5rem;
}
/* ending of our journey */
/* ending of our journey */
/* for footer section 518 */
/* for footer section 518 */

.footer{
    margin-top: -7rem;
    padding: 2rem 0;
    border-top:5px solid black;
    font-size: 1.5rem;
    text-align: center;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.profile, .contact, .follow{
    line-height: 3rem;
    flex: 1;
    padding: 1.5rem 0;
}

.profile p{
    font-size: 1.4rem;
    color: #054205;
    font-weight: bold;
}

.footer-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follow img{
    width: 4.5rem;
    border-radius: 1.5rem;
}

.follow img:hover{
    background-color: rgb(0, 255, 64);
    cursor: pointer;
}

#top-img{
    display: none;
    width:30px; 
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    z-index: 1;
    border: none;
    cursor: pointer;
}

#top-img:hover{
    background-color: salmon;
}

.message{
    border-radius: 4px;
    padding: 6px 20px;
    position: fixed;
    bottom: 2px;
    right: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0.1px 0.1px 1rem 2px rgb(0, 0, 0);
    animation: mymove 2s infinite;
}

#text {
    font-weight: 600;
    text-align: center;
    animation: mymove 2s infinite;
}

.text{
    font-size: 1.5rem;
    background-color: #93d693;
    padding: 1rem 0;
    font-weight: 600;
}
  
@keyframes mymove {
    from {color: rgb(55, 0, 255);}
    to {color: rgb(255, 0, 0);}
  }
/* end of footer */
/* end of footer */
/* start of destination */
/* start of destination */

.book-btn{
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    color: black;
    box-shadow: 0.1px 0.1px 1rem 2px rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    animation: mymove 2s infinite;
    border-radius: 1rem;
    display: none;
}

.breadcrumb{
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1px 0.1px 1rem 1px rgb(187, 178, 178);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.breadcrumb a{
    color: rgb(38, 0, 255);
}

.breadcrumb a:hover{
    text-decoration: underline;
}

.nav-ul p{
    background-color: #69b369;
    font-size: 1.5rem;
    margin: 0.1rem 0;
    padding: 0.4rem;
    border-radius: 1.5rem;
    border: 0.3rem solid #69b369;
    transition: all 500ms ease;
}

.dropDown::before{
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color:rgb(0, 255, 106);
}

.dropDown{
    width: 17rem;
    top: 22rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 400ms ease;
}

.nav-ul p:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav-ul li:hover .dropDown{
    opacity: 1;
    visibility: visible;
    top: 18.3rem;
}

/* from destination 645 */
/* from destination 645 */

.destination h1{
    margin-top: 3rem ;
}

.trek{
    width: 70%;
    margin: 1rem auto;
}

.trek p{
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 1rem 1px rgb(148, 144, 144);
}

.trek img{
    width: 100%; 
    padding: 0.5rem;
    box-shadow: 1px 1px 1rem 1px rgb(148, 144, 144); 
}

.trek span{
    color: black;
    background-color: rgb(181, 209, 209);
    margin-right: 0.5rem;
    padding: 0.3rem;
    font-weight: 600;
    border-radius: 5px;
}

.summary{
    font-weight: 600;
    margin-top: -1rem;
}

/* dstination page ends */
/* dstination page ends */

/* book a destination */
/* book a destination 797*/

.forms{
    width: 100%;
    height: 50rem;
    display: flex;
    justify-content:center;
    align-items: center;
}

form{
    width: 80%;
    max-width: 50rem;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1rem 1px rgb(148, 144, 144); 
    text-align: center;
}

.form-title{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 1rem 0;
}

.one-two{
    display: flex;
    justify-content:space-evenly;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
}

.one-two p{
    font-size: 2rem;
}

.active-num{ 
    border: 2px solid black;
    color:rgb(255, 0, 0);
    font-weight: 900;
}

#destinations, #full-name, #gender, #travel-num, #date{
    width: 80%;
    margin: 0.5rem auto;
    padding:0.7rem;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 0.8rem 0.5px rgb(148, 144, 144); 
    border: 2px solid green;
}

#gender{
    font-size: 1.5rem;
}

#gender input{
    margin: 0 1rem;
}

.number{ 
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 0.8rem 0.5px rgb(148, 144, 144); 
    border: 2px solid green;
    width: 80%;
    margin:  0.5rem auto;
    display:flex;
    justify-content: flex-start;
}

.num-1{
    border-radius: 0.5rem;
    width: 30%;
}

.num-2{
    border-radius: 0.5rem;
    width: 70%;
}

#country-code,#contact-num{
    width: 100%;
    padding:0.5rem;
}


select:required:invalid {
    color: rgb(163, 148, 148);
}

option[value=""][disabled] {
    display: none;
}
  
option {
    color: black;
}

#continue-btn, #confirm-btn, .send{
    width: 40%;
    margin: 0.5rem auto;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: #5ca55c;
    border-radius: 5rem;
    border: 0.2rem solid green;
    cursor: pointer;
    transition: all 500ms ease;
}

#continue-btn:hover, #confirm-btn:hover, .send:hover{
    background-color: black;
    color: white;
}

.hidden-form{
    display: none;
}

/* confirmation form */
/* confirmation form */
#confirm-form div:not(.one-two){
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

#confirm-form div:not(.one-two, :last-child) p:first-child{
  background-color: rgb(218, 178, 193);
  padding:0 1rem;
  border-radius: 0.5rem;
}

#display-msz{
    position: absolute;
    top: 14rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: rgb(182, 216, 182);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

#confirm-form div:last-child p{
    background-color: #69b369;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 0.4rem;
}

#confirm-form div:last-child p:hover{
    background-color: black;
    color: white;
}

.direct{
    position: fixed;
    right: 0;
    bottom: 4rem;
    width: 320px;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem 0;
    background-color: rgb(248, 247, 246);
    border-radius: 5px;
    z-index: 1;
}

.direct p:first-child{
    font-weight: 600;
}

.direct input, .direct textarea{
    border: 1px solid green;
    width: 80%;
}

.direct input{
    height: 3rem;
    padding: 0 0.5rem;
}

.thanks{
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    background-color: rgb(164, 206, 187);
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

.settings{
    width: 90px;
    height: 60px;
    position: fixed;
    bottom: 2%;
    left: 2%;
    background-color: rgb(169, 218, 185);
    border-radius: 100%;
    border: 2px solid rgb(149, 209, 149);
    text-align: center;
    cursor: pointer;
}

.set-div{
    background-color: rgb(208, 226, 214);    
    position: fixed;
    bottom: 11%;
    left: 0%;
    border-radius: 5px;
}

.in-out{
    display: flex;
    justify-content:flex-start;
}

.in-out div{
    border: 1px solid rgb(240, 187, 187);
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-left: 2px solid rgb(161, 144, 144);
}

.in-out p{
    font-size: 14px;
    font-weight: bold;
}

.settings:hover, .in-out div:hover{
    color: #ffffff;
    background-color: #5e5454;
}

@media all and (max-width: 770px){
    .our-journey{
        flex-direction: column-reverse;  
    }

    .journey-img{
        margin-bottom: 0.3rem;
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .profile{
        grid-column: 1;
        grid-row: 1;
    }

    .follow{
        grid-column: 2;
        grid-row: 1;
    }

    .contact{
        grid-column: 1/3;
        grid-row: 2;
        margin-top: -30px;
    }
}

@media all and (max-width: 580px){
    html{
        font-size: 9px;
        background: url(img/mountain2.jpg);
    }
    .trend, .our-journey, .trek, form{
        width: 90%;
    }
    .btn-trend p{
        font-size: 50%;
    }
    .frame h1{
        font-size: 4rem;
    }
    .frame p{
        font-size: 1.3rem;
    }
    .btn-trend{
        width: 90%;
    }
    .btn-trend button{
        width: 50%;
    }
    #destinations, #full-name, #gender, #travel-num, #date,.number{
        width: 88%;
    }

}

@media all and (max-width: 480px){
    .trend, .our-journey, .trek, form{
        width: 95%;
    }
    form{
        padding: 0px;
    }
    .frame h1{
        font-size: 3.5rem;
    }
    #destinations, #full-name, #gender, #travel-num, #date,.number{
        width: 95%;
    }
    #continue-btn, #confirm-btn{
        width: 60%;
    }
    .btn-trend p{
        font-weight: 600;
    }
    #confirm-form div:not(.one-two, :last-child) p:first-child{
        padding:0 0.5rem;
    }
    #gender input{
        margin: 0 0.1rem;
    }
    .search-nav{
        width: 100%;
    }
    #search-btn{
       padding: 1rem 0;
    }
    .read-btn{
        font-size: 1.2rem;
    }
    .profile, .contact, .follow{
        line-height: 2rem;
        padding: 1rem 0;
    }
    .contact{
        margin-top: -20px;
    }
    .frame span{
        font-size: 2.5rem;
        padding: 0px 0.3rem;
        font-weight: 600;
    }
}
